#ui {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 100;
  pointer-events: none;
}

#ui * {
  pointer-events: auto;
}

#game-ui {
  z-index: 1;
}

#hud {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 100px;
  z-index: 98;
  gap: 10px;
  height: fit-content;
}

#died-text{
  display: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.712);
  font-weight: bold;
  text-shadow: black;
  font-size: 40px;
  color: white;
  z-index: 99;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: calc(50% / 2);
}

.box {
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 10px;
  border: solid 1px rgb(75, 75, 75);
  color: white;
  font-weight: bold;
  padding: 15px;
}

#hud > .row {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#main-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.342);
}

.menu-btn {
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 4px 1px rgb(182, 182, 182);
  padding: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.menu-btn:hover {
  background-color: rgb(240, 239, 239);
}

.menu-btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

#loading-window {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('./map/textures/grass2.png');
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mob-hud {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: calc(100% / 2 - 100px);
  top: 20px;
  width: 200px;
  height: fit-content;
  gap: 10px;
  display: none;
}

.hp-bar {
  height: fit-content;
  font-size: 15px;
  max-width: 200px;
  background-color: rgb(146, 0, 0);
  border-radius: 5px;
  transition-duration: 0.3s;
  text-align: center;
}

#loading-text {
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-shadow: black;
}